
<section class="container-fluid">

  <section class="row" style="padding:3%;">

      <!-- title section start-->
      <section class="grid-title-section">
        <tg-table-title></tg-table-title>
      </section>
      <!-- title section end-->

      <!-- grid content section start -->
      <section class="grid-content-section">
        <tg-table-header></tg-table-header>
        <tg-table-body></tg-table-body>
      </section>

      <!-- grid content section end -->


      <!-- footer section start-->
      <section class="grid-footer-section">

        <tg-table-footer></tg-table-footer>

      </section>
      <!-- footer section end -->


    </section>

  </section>
