$padding-all-zero:0;
$zero:0;
$normal:normal;
$padding-top-bottom-1per :1% 0 1% 0;
$onepx-border:1px solid;
$onepx-lighter-border:1px solid;
$small-letter-spacing:0.03em;
$none:none;
$hidden:hidden;
$scroll:scroll;
$absolute:absolute;
$relative:relative;
$cursor-pointer:pointer;
$defaultWidth:100%;
$defaultRadius:5px;



//colors variables
$white:#fff;
$lighter-white:#f3f3f3;
$darker-white:#f4f4f4;

$default-primary:#428bca;

//cell selection color;
$cell-selection-default-color:#D1E6F1;
