

@import "variables";
@import "mixins";



body{
  //common scss
  font-family:'Merriweather Sans', sans-serif;
  .posAbs {
    position: $absolute;
  }
  .posRelative{
    position: $relative;
  }
  .small-letter-space{
    letter-spacing: $small-letter-spacing;
  }
  .padding-all-zero{
    padding: $padding-all-zero;
  }
  .padding-top-bottom-zero {
    padding-top: $zero;
    padding-bottom:$zero;
  }

  .padding-right-left-zero{
    padding-left:$zero;
    padding-right:$zero;
  }

  .padding-0{
    padding: $zero;
  }

  .no-border-radius{
    border-radius: $zero;
  }



  .noraml-font-weight{
    @include setFontWeight();
  }

  .margin-top-zero{
    margin-top: $zero;
  }

  .default-primary-color{
    @include setbgColor();
  }


  .border-all1px{
    @include onepxColorborder(#ccc);
  }
  .no-border-bottom{
    border-bottom: $none;
  }
  .cursor-pointer{
    cursor: $cursor-pointer;
  }

  .white-color-darker-class{
    @include backgroundColor($darker-white);
  }
  .white-color-lighter-class{
    @include backgroundColor($lighter-white);
  }
  .white-color-class{
    @include backgroundColor($white);
  }

  .hidden-y-overflow-scroll{
    @include overflowY($scroll);
  }

  .width-height-100{
    @include setWidthHeight(100%,100%);
  }
  .width-100{
    @include setWidth();
  }

  .z-index-100{
    @include setZindex(100);
  }

  .left-0{
    @include left(0);
  }

  .cell-select-default{
    @include cellSelectDefault();
  }

  //main grid scss
  .header-content{
    padding: $padding-top-bottom-1per;
    padding-left:2%;
    border-right: $onepx-border #ccc;

      .filter-section{
        right: 5%;
        font-size: 12px;
        color: #777;
        width: 100px;

        .filter-sort-icon{
          @include right(5%);
        }

        .filter-search-icon{
          @include left(60%);
        }

      }

      .search-filter-input-section{
        @include marginTop(5%);

        .search{
            @include setWidth(90%);
            @include onepxColorborder(#ccc);
            @include setBordeRadius($defaultRadius);
            outline: $none;
            @include setFontSize(12px);
            padding-left: 5%;
            padding: 3%;
            letter-spacing: 0.075em;
        }
        .search-close-icon{
          @include top(35%);
          @include left(80%);
          @include setColor(#999);
          @include setFontSize(10px);
        }
      }
  }

  .header-content:last-child{
     border-right: $none;
  }
  .main-grid-body{
    max-height: 300px;
    .body-content{
      border-bottom: none;
      .body-text{
        border-right: $onepx-border #ccc;
        margin-bottom:$zero;
        padding: $padding-top-bottom-1per;
        padding-left:2%;
      }
      .body-text:last-child{
        border-right: $none;
      }
    }
  }


  .footer-main{
    border:1px solid #ccc;
    border-top:none;
    @include backgroundColor(#f4f4f4);

    .footer-data-details{
      @include marginTop(1%);
    }
    .page-size-pagination-main{
      @include marginTop(1%);
      .pagination{
        li{
          .page-button-activate{
            color: $white;
            @include setBackground($default-primary);
          }
        }

        .page-buttons{
          border-radius: $zero;
          @include setColor($default-primary);
        }
        .no-border-right{
          @include noBorderRight();
        }
      }

    }
  }
}
